<section
  class="flex flex-col h-1/2 justify-end text-center text-(length:--font-size-3xl) leading-(length:--line-height-3xl) md:text-(length:--font-size-4xl) md:leading-(length:--line-height-4xl) lg:text-(length:--font-size-2xl) lg:leading-(length:--line-height-2xl)">
  <!-- Title: For explorer -->
  <h3 class="font-bold text-[#00b8ec]">
    {{ 'Home.title' | translate }}
  </h3>
  <div class="text-white">
    <!-- Prompt: campus facilities, -->
    <p>
      {{ 'Home.promptLine1' | translate }}
    </p>
    <!-- Prompt: Connect to the network: -->
    <p>
      {{ 'Home.promptLine2' | translate }}
    </p>
  </div>
</section>
<!-- Visitors Wifi -->
<div class="flex flex-col h-1/2 items-center justify-end lg:justify-center gap-4">
  <!-- Logo Network -->
  <img
    src="assets/images/logo_network.svg"
    alt=""
    class="w-20 md:w-25 lg:w-15 shadow-[5px_5px_5px_rgba(0,0,0,0.2)]" />
  <!-- Text: VISITORS -->
  <p
    class="text-white font-bold text-(length:--font-size-3xl) leading-(length:--line-height-3xl) md:text-(length:--font-size-4xl) md:leading-(length:--line-height-4xl) lg:text-(length:--font-size-2xl) lg:leading-(length:--line-height-2xl)">
    {{ 'Home.guest' | translate }}
  </p>
</div>
