<section class="flex flex-col h-1/2 justify-end text-center text-3xl">
  <h3 class="font-bold text-[#00b8ec]">
    {{ 'Home.title' | translate }}
  </h3>
  <div class="text-white">
    <p>
      {{ 'Home.promptLine1' | translate }}
    </p>
    <p>
      {{ 'Home.promptLine2' | translate }}
    </p>
  </div>
</section>
<div class="flex flex-col h-1/2 items-center justify-center gap-4">
  <img
    src="assets/images/logo_network.svg"
    alt=""
    class="w-20 shadow-[5px_5px_5px_rgba(0,0,0,0.2)]" />
  <p class="text-white font-bold text-3xl">{{ 'Home.guest' | translate }}</p>
</div>
