:host ::ng-deep .p-button,
.p-button:not(:disabled):hover,
.p-togglebutton {
  border-radius: calc(infinity * 1px);
  font-size: 1.5rem;
  color: var(--color-primary-white);
}

:host ::ng-deep .p-togglebutton-checked .p-togglebutton-content {
  background: var(--background-blue);
  color: var(--color-primary-white);
  height: auto;
  border-radius: calc(infinity * 1px);
}

:host ::ng-deep .p-togglebutton {
  font-size: 1.5rem;
  width: 100%;
  color: var(--color-primary-white);
}

:host ::ng-deep .p-selectbutton {
  background: var(--color-primary-blue);
  border-radius: calc(infinity * 1px);
}

:host ::ng-deep .p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover {
  color: var(--color-primary-white);
}

@media (width >= 48rem) {
  :host ::ng-deep .p-togglebutton {
    font-size: 1.875rem;
  }
}

@media (width >= 64rem) {
  :host ::ng-deep .p-togglebutton {
    font-size: 1.5rem;
  }
}

:host ::ng-deep .p-button {
  background: var(--background-blue);
  font-size: 1.5rem;
  color: var(--color-primary-white);
  border: none;
}

:host ::ng-deep .p-button:not(:disabled):active,
.p-button:not(:disabled):hover {
  background: var(--background-blue);
  border: none;
  color: var(--color-primary-white);
}
