<div
  class="h-screen bg-[url('/assets/images/background_welcomepage.webp')] bg-cover bg-center lg:bg-position-[center_bottom_40%] px-4 py-8">
  <div class="flex h-1/2 justify-center items-center">
    <img
      src="assets/images/campusmap_logo.svg"
      alt="'Welcome.logoAlt' | translate"
      class="w-70 md:w-96 lg:w-65 h-full"
      priority />
  </div>
  <div
    class="flex flex-col h-1/4 justify-end items-center text-2xl leading-8 md:text-5xl md:leading-none lg:text-3xl lg:leading-9 text-white">
    <p class="font-bold text-2xl leading-8 md:text-5xl md:leading-none lg:text-3xl lg:leading-9">
      {{ 'Welcome.welcomeTo' | translate }}
    </p>
    <p class="font-bold">
      {{ 'Welcome.regionalHub' | translate }}
    </p>
    <p class="italic text-[#00b8ec]">
      {{ 'Welcome.americasHub' | translate }}
    </p>
  </div>
  <div class="flex h-1/4 justify-center items-center">
    <img
      src="assets/images/logo_alianza.svg"
      alt="'Welcome.allianceLogoAlt' | translate"
      class="w-70 md:w-96 lg:w-65"
      priority />
  </div>
</div>
