<div
  class="h-screen bg-[url('/assets/images/background_welcomepage.webp')] bg-cover bg-center lg:bg-position-[center_bottom_40%] px-4 py-8">
  <div class="flex h-1/2 justify-center items-center">
    <img
      src="assets/images/campusmap_logo.svg"
      [attr.alt]="'Welcome.logoAlt' | translate"
      class="w-70 sm:w-96 h-full" />
  </div>
  <div class="flex flex-col h-1/4 justify-end items-center text-(length:--font-size-xl) text-white">
    <p
      class="text-(length:--font-size-4xl) leading-(length:--line-height-4xl) md:(length:--font-size-6xl) md:leading-(length:--line-height-6xl) font-bold">
      {{ 'Welcome.welcomeTo' | translate }}
    </p>
    <p class="font-bold md:text-(length:--font-size-4xl) md:leading-(length:--line-height-4xl)">
      {{ 'Welcome.regionalHub' | translate }}
    </p>
    <p
      class="italic text-[#00b8ec] md:text-(length:--font-size-4xl) md:leading-(length:--line-height-4xl)">
      {{ 'Welcome.americasHub' | translate }}
    </p>
  </div>
  <div class="flex h-1/4 justify-center items-center">
    <img
      src="assets/images/logo_alianza.svg"
      [attr.alt]="'Welcome.allianceLogoAlt' | translate"
      class="w-70 sm:w-96" />
  </div>
</div>
