@use 'tailwindcss';
@use 'maplibre-gl/dist/maplibre-gl.css';
@use 'primeicons/primeicons.css';

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Medium.ttf');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'Barlow';
  src: url('/assets/fonts/Barlow-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

:root {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  --color-primary-blue: #173f6f;
  --color-primary-green: #358540;
  --color-primary-black: #231f20;
  --color-primary-white: white;
  --color-secondary-yellow: #ffcf01;
  --color-secondary-orange: #f58220;
  --color-secondary-green: #cac92d;
  --color-secondary-red: #ba3c27;
  --color-secondary-blue: #1689ca;
  --color-secondary-violet: #903f98;
  --color-dark-green: #133016;
  --background-green: linear-gradient(to top, #358540, #8ebf3f);
  --background-blue: linear-gradient(to top, #173f6f, #1689ca);
}

// Animation Circle User Location
@keyframes pulse-circle {
  0% {
    box-shadow: 0 0 0 0 #007aff4d;
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.animate-pulse-circle {
  animation: pulse-circle 2s infinite ease-in-out;
}
