<!-- Main container. Shows estimated time information -->
<div
  class="fixed bottom-0 left-0 w-full lg:max-w-xl p-4 flex-auto bg-white rounded-t-lg z-30 shadow-lg">
  <div class="flex flex-col md:flex-row items-center justify-between">
    <!-- Left side button. Used to go back or back -->
    <div class="flex items-center justify-center mb-2 md:mb-0">
      <p-button [outlined]="true" styleClass="flex items-center justify-center">
        <ng-template pTemplate="content">
          <img
            src="assets/icons/popUpTImer/arrowBack.svg"
            title="Back"
            [alt]="'InformationPopUpTimer.backAlt' | translate"
            [title]="'InformationPopUpTimer.backAlt' | translate" />
        </ng-template>
      </p-button>
    </div>

    <!-- Central section with time, distance and current time -->
    <div class="flex flex-col justify-center items-center">
      <!-- Row with clock icon and estimated time -->
      <div class="flex gap-2">
        <img
          src="assets/icons/popUpTImer/timerSmall.svg"
          alt=""
          title=""
          class="object-contain ng-optimized-image" />
        <p
          class="font-bold text-xl md:text-3xl lg:text-2xl leading-normal md:leading-tight lg:leading-normal">
          2 {{ 'InformationPopUpTimer.minutes' | translate }}
        </p>
      </div>

      <!-- Row with distance and current time-->
      <div
        class="flex gap-4 mt-2 text-xl md:text-2xl lg:text-2xl leading-normal md:leading-tight lg:leading-normal">
        <p>1 {{ 'InformationPopUpTimer.km' | translate }}</p>
        <p>{{ currentTime() }}</p>
      </div>
    </div>

    <!-- Right side button. Used to close the pop-up -->
    <div class="flex items-center justify-center mt-2 md:mt-0">
      <p-button [outlined]="true" styleClass="flex items-center justify-center">
        <ng-template pTemplate="content">
          <img
            src="assets/icons/popUpTImer/close.svg"
            title="Close"
            [alt]="'InformationPopUpTimer.closeAlt' | translate"
            [title]="'InformationPopUpTimer.closeAlt' | translate" />
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
