:host {
  display: block;
}

/* Iconos (usando primeicons opcionalmente) */
.pi {
  justify-items: center;
  align-items: center;
}

@media (width >= 48rem) {
  .pi {
    font-size: 2.5rem;
  }
}

@media (width >= 64rem) {
  .pi {
    font-size: 2rem;
  }
}
