<!-- Component that renders the map -->
<app-map-load
  (placeSelected)="onPlaceSelected($event)"
  (mapClicked)="onMapClicked()"></app-map-load>
<!-- Floating search bar. Allows you to write and select results -->
<app-search-bar (locationSelected)="onLocationSelected($event)"></app-search-bar>
<!-- Filter controls. They show options to adjust the view or results -->
<app-filter-controls></app-filter-controls>
<!-- SOS button. In case of emergency, go to the nearest meeting point -->
<app-sos-button></app-sos-button>
<!-- Location button. Center map on user location -->
<div
  class="absolute top-54 md:top-59 right-4 md:right-8 z-2 flex flex-col items-end select-none mt-20">
  <app-location-button (centerOnLocation)="onCenterOnUserLocation()"></app-location-button>
</div>
<!-- Popup for buildings -->
<app-information-pop-up
  *ngIf="selectedPlace().type === 'building' && selectedPlace().isVisible"
  [placeName]="selectedPlace().name"
  [placeType]="selectedPlace().type"
  [imageUrl]="selectedPlace().imageUrl"
  [images]="selectedPlace().images"
  [isVisible]="selectedPlace().isVisible"
  (visibleChange)="onVisibleChange($event)"
  (showTransportSelector)="onShowTransportSelector()">
</app-information-pop-up>
<!-- Popup for parking lots -->
<app-information-pop-up-parking
  *ngIf="selectedPlace().type === 'parking' && selectedPlace().isVisible"
  [placeName]="selectedPlace().name"
  [imageUrl]="selectedPlace().imageUrl"
  [isVisible]="selectedPlace().isVisible"
  (visibleChange)="onVisibleChange($event)"
  (showTransportSelector)="onShowTransportSelector()">
</app-information-pop-up-parking>
<!-- Transport button selector popup -->
<app-transport-button-selector *ngIf="isTransportSelectorVisible()">
</app-transport-button-selector>
