<!-- Component that renders the map -->
<app-map-load (placeSelected)="onPlaceSelected($event)" (mapClicked)="onMapClicked()"></app-map-load>
<!-- Floating search bar. Allows you to write and select results -->
<app-search-bar></app-search-bar>
<!-- Filter controls. They show options to adjust the view or results -->
<app-filter-controls></app-filter-controls>
<!-- Information popup for selected place (non-parking) -->
<app-information-pop-up
  *ngIf="selectedPlace.type !== 'parking'"
  [placeName]="selectedPlace.name"
  [placeType]="selectedPlace.type"
  [imageUrl]="selectedPlace.imageUrl"
  [isVisible]="selectedPlace.isVisible"
  (visibleChange)="selectedPlace.isVisible = $event"
  (showTransportSelector)="onShowTransportSelector()">
</app-information-pop-up>
<!-- Information popup for parking places -->
<app-information-pop-up-parking
  *ngIf="selectedPlace.type === 'parking' && selectedPlace.isVisible"
  [placeName]="selectedPlace.name"
  [imageUrl]="selectedPlace.imageUrl"
  [isVisible]="selectedPlace.isVisible"
  (visibleChange)="selectedPlace.isVisible = $event"
  (showTransportSelector)="onShowTransportSelector()">
</app-information-pop-up-parking>
<!-- Transport button selector popup -->
<app-transport-button-selector *ngIf="isTransportSelectorVisible">
</app-transport-button-selector>
