<!-- Main container fixed at the bottom -->
<div class="absolute bottom-0 flex-auto bg-white w-screen rounded-t-lg z-2 p-4 gap-4">
  <!-- Parking title -->
  <p class="font-semibold text-2xl md:text-4xl">Parqueadero 3</p>
  <!-- Main image of the place -->
  <div class="flex flex-none w-full h-30 justify-center my-4">
    <img
      src="assets/images/sostenibilidad.webp"
      alt="Sostenibilidad"
      class="rounded-lg object-none w-full" />
  </div>

  <!-- Button to open the path to the point -->
  <div class="flex flex-auto justify-center items-center">
    <a
      routerLink="/"
      pButton
      class="flex justify-center items-center w-3xs h-13 md:h-15 shadow-[4px_4px_5px_rgba(0,0,0,0.3)] bg-linear-to-t from-[#004CC6] to-[#1689CA] text-center rounded-lg">
      <span pButtonLabel class="text-3xl md:text-4xl font-medium text-white text-center"
        >Cómo llegar</span
      >
    </a>
  </div>
</div>
