<section
  class="flex flex-col h-1/2 justify-end text-center text-3xl leading-9 md:text-4xl md:leading-10 lg:text-5xl lg:leading-none">
  <!-- Title: For explorer -->
  <h3
    class="font-bold text-[#00b8ec] text-2xl leading-8 md:text-5xl md:leading-none lg:text-3xl lg:leading-9">
    {{ 'Home.title' | translate }}
  </h3>
  <div class="text-white text-2xl leading-8 md:text-5xl md:leading-none lg:text-3xl lg:leading-9">
    <!-- Prompt: campus facilities, -->
    <p>
      {{ 'Home.promptLine1' | translate }}
    </p>
    <!-- Prompt: Connect to the network: -->
    <p>
      {{ 'Home.promptLine2' | translate }}
    </p>
  </div>
</section>
<!-- Visitors Wifi -->
<div class="flex flex-col h-1/2 items-center justify-end lg:justify-center gap-4">
  <!-- Logo Network -->
  <img
    src="assets/images/logo_network.svg"
    alt=""
    class="w-20 md:w-30 lg:w-20 shadow-[5px_5px_5px_rgba(0,0,0,0.2)]" />
  <!-- Text: VISITORS -->
  <p
    class="text-white font-bold text-2xl leading-8 md:text-5xl md:leading-none lg:text-3xl lg:leading-9">
    Visitors
  </p>
</div>
