:host {
  display: flex;
  justify-content: center;
}
:host ::ng-deep .p-selectbutton .p-togglebutton {
  font-weight: 500;
  width: 120px;
  height: 50px;
  font-size: 20px;
  background: #bdbdbd;
  color: #2e2e2e;
}

:host ::ng-deep .p-selectbutton {
  border-radius: calc(infinity * 1px);
}

:host ::ng-deep .p-togglebutton .p-togglebutton-checked {
  background: var(--color-primary-white);
  color: var(--color-primary-black);
}

:host ::ng-deep .p-selectbutton .p-togglebutton:last-child {
  border-top-right-radius: calc(infinity * 1px);
  border-bottom-right-radius: calc(infinity * 1px);
}

:host ::ng-deep .p-selectbutton .p-togglebutton:first-child {
  border-top-left-radius: calc(infinity * 1px);
  border-bottom-left-radius: calc(infinity * 1px);
}

:host ::ng-deep .p-togglebutton:not(:disabled):not(.p-togglebutton-checked):hover {
  background: #bdbdbd;
  color: #2e2e2e;
}

:host ::ng-deep .p-togglebutton.p-togglebutton-checked {
  background: var(--color-primary-blue);
  color: var(--color-primary-white);
}

/* Spanish language selected: use green */
:host ::ng-deep .lang-spanish .p-togglebutton.p-togglebutton-checked {
  background: var(--color-primary-green) !important;
  color: var(--color-primary-white);
}

@media screen and (min-width: 768px) {
  :host ::ng-deep .p-selectbutton .p-togglebutton {
    width: 200px;
    height: 75px;
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  :host ::ng-deep .p-selectbutton .p-togglebutton {
    width: 140px;
    height: 65px;
    font-size: 1.875rem;
  }
}
