<!-- Bottom container showing detailed information of the selected site -->
@if (isVisible()) {
  <div
    class="fixed bottom-0 left-0 w-full max-w-full md:max-w-2xl lg:max-w-xl mx-auto px-4 md:px-8 lg:px-4 pt-4 bg-white rounded-t-lg z-30 animate-slide-up shadow-lg">
    <div class="flex flex-col h-full">
      <!-- Point of interest titles -->
      <div class="flex flex-col">
        <p
          class="font-semibold text-xl md:text-3xl lg:text-2xl leading-normal md:leading-tight lg:leading-normal">
          {{ 'Buildings.' + placeName() | translate: {} : placeName() }}
        </p>
        <p
          class="text-gray-600 text-xl md:text-3xl lg:text-2xl leading-normal md:leading-tight lg:leading-normal">
          {{ 'InformationPopUp.' + placeType() | translate }}
        </p>
      </div>
      <!-- Related images section -->
      <div class="flex w-full justify-center gap-4 md:gap-8 my-4 md:my-8 lg:my-4 px-2 md:px-4">
        @if (imageUrl()) {
          <img
            [src]="imageUrl()"
            [alt]="placeName()"
            title="placeName()"
            class="w-full h-40 md:h-64 lg:h-72 rounded-lg object-cover" />
        }
        @if (!imageUrl() && images().length) {
          @for (img of images().slice(0, 2); track img.id) {
            <img
              [src]="img.img"
              [alt]="placeName() || ('InformationPopUp.alt' | translate)"
              title="placeName() || ('InformationPopUp.alt' | translate)"
              class="w-1/2 h-40 md:h-64 lg:h-72 rounded-lg object-cover" />
          }
        }
        @if (!imageUrl() && !images().length) {
          <img
            src="assets/images/rs.webp"
            [alt]="'InformationPopUp.Alt' | translate"
            title="'InformationPopUp.Alt' | translate"
            class="w-1/2 h-40 md:h-64 lg:h-72 rounded-lg object-cover" />
          <img
            src="assets/images/sostenibilidad.webp"
            [alt]="'InformationPopUp.Alt' | translate"
            title="'InformationPopUp.Alt' | translate"
            class="w-1/2 h-40 md:h-64 lg:h-72 rounded-lg object-cover" />
        }
      </div>
      <!-- Button to open transport button selector -->
      <div class="flex h-full justify-center items-center mb-4">
        <button
          (click)="openTransportSelector()"
          pButton
          class="flex justify-center items-center w-52 md:w-80 lg:w-56 h-14 md:h-16 lg:h-12 text-center">
          <span
            pButtonLabel
            class="font-medium text-white text-center text-2xl md:text-3xl lg:text-2xl">
            {{ 'InformationPopUp.howToGet' | translate }}
          </span>
        </button>
      </div>
    </div>
  </div>
}
